.home-module {
    width: 100%;

    .base-div {
        margin: auto;
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }

        .text-div {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .heading {
            font-family: 'Titan One', cursive;
            font-size: $font-title;
            color: $color-red;
            letter-spacing: 2px;
        }

        .btn-play {
            background-image: url('../images/playbtn.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 151px;
            height: 121px;
            font-size: $font-md;
            font-family: 'Titan One', cursive;
            color: $color-btn;
            text-align: left;
            padding-top: 50px;
            animation: movebtn 2s ease-in-out infinite;

            &:focus {
                border: none;
                color: $color-btn;
            }
        }
    }
}

@keyframes movebtn {
    0% {
        transform: translateX(5px)
    }

    20% {
        transform: translateX(-5px)
    }

    40% {
        transform: translateX(10px)
    }

    60% {
        transform: translateX(-10px)
    }

    80% {
        transform: translateX(5px)
    }

    90% {
        transform: translateX(-5px)
    }

    100% {
        transform: translateX(0px)
    }
}

@include tablet {
    .home-module {
        .base-div {
            .text-div{
                top: 15%;
            }
            .heading {
                font-size: $font-titlesm;
            }
            .btn-play{
                width: 100px;
                height: 80px;
                font-size: $font-sm;
                padding-top: 30px;
            }
        }
    }
}

@include mobile{
    .home-module{
        .base-div{
            .text-div{
                width: 70%;
                left: 15%;
            }
            .btn-play{
                margin-top: 80px;
            }
        }
    }
}