// Colours
$color-black:#000;
$color-red:#7d090c;
$color-green:#013133;
$color-msg:#019355;
$color-btn:#be0811;
$color-yellow:#F6C500;
$color-white:#FFF;

// Spacing
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-md:5px;

// Fonts
$font-titlesm:34px;
$font-sm:12px;
$font-md:18px;
$font-lg:24px;
$font-title:40px;